<!DOCTYPE html>
<html>
<head>
    
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link rel="stylesheet" href="static/css/chidori.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <title>ChidoriOS</title>
</head>

<div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper blue darken-3">
            <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large left"><i class="material-icons left white-text">menu</i>Devices</a>
          </div>
        </nav>
      </div>

      <div id="app">
          <ul id="slide-out" class="sidenav grey darken-4">
              <div class="grey darken-3">
                  <li class="center white-text">
                      ChidoriOS
                  </li>
                  <ul class="collapsible collapsible-accordion">
                    <template v-for="brand in brands">
                    <li>
                    <a class="collapsible-header white-text grey darken-4">{{ brand }}<i class="material-icons white-text right">arrow_drop_down</i></a>
                      <div class="collapsible-body">
                        <ul>
                          <template v-for="dev in devices" v-if="brand == dev.brand">
                          <li class="grey darken-3 "><a v-bind:href="'device.html?device=' + dev.codename" class="white-text">
                         {{dev.codename}}</a></li>
                          </template>
                        </ul>
                      </div>
                    </li>
                    </template>
                  </ul>
              </div>
            <div style="padding-left: 80px;">
              
          
          
            </div>
          </ul>
          
          
          <!-- Dropdown Structure -->
          <ul id='motorola-stuff' class='dropdown-content'>
              
            </ul>
          
<div class="">
<div class="container">
<h5 class="white-text center">Builds for {{codename}}</h3>
    <div class="row center">
            <div class="col s12 m12 center">
              <div class="card grey darken-3">
                <div class="card-content white-text">
                  <span class="card-title">{{Device}}</span>
                  <p>Maintainer: {{maintainer}}.</p>
                  <p> Brand: {{brand}}.</p>
                  <p> Android Version: {{version}}.</p>
                </div>
                <div class="card-action">
                  <a href="#">XDA Profile</a>
                  <a v-bind:href="'https://github.com/' + maintainer">Github</a>
                </div>
              </div>
            </div>
          </div>
    <br>
    
    <template v-for="Build in DeviceBuilds">
      <div class="collection">
        <li class="grey darken-3 collection-item" style="border:none !important;list-style-type: none;
        ">
            <a class="white-text">Zip: {{Build.name}}</a>
            <a class="waves-effect blue darken-2 waves-light btn right" href="placeholder"><i class="material-icons right">arrow_downward</i>Download</a>
        </li>
        <li class="grey darken-3 collection-item" style="border:none !important;list-style-type: none;
        ">
                <a class="white-text">Date: {{Build.date}}</a>
                <a class="white-text right">Size: {{Build.size}}mb</a>
        </li>
        <div class="divider"></div>
      </div>
    </template>
</div>
</div>
</main>

</div>
<footer>
  <div id="scroll">
  <a></a>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="static/js/device.js"></script>

</footer>

</html>