<!DOCTYPE html>
<html>
<head>
  <script src="static/js/theme.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Product+Sans" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="static/css/chidori.css">
  <meta name="msapplication-TileColor" content="#212121">
  <meta name="theme-color" content="#212121">
  <link rel="shortcut icon" href="ChidoriLogoNoSpaces.ico"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <title>ChidoriOS</title>
</head>

<!-- NAVBAR -->
<div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large left"><i class="material-icons left white-text">menu</i></a>
            <a class="sidenav-trigger show-on-large right"><i class="settings material-icons white-text">color_lens</i></a>
          </div>
        </nav>
      </div>
      <div id="app" class="black-text">
          <ul id="slide-out" class="sidenav">
              <div>
                  <a class="bar-logo" href="/">
                    <svg id="sublogo-svg" version="1.0" xmlns="http://www.w3.org/2000/svg"
                     width="160.000000pt" viewBox="0 0 1679.000000 307.000000"
                     preserveAspectRatio="xMidYMid meet">

                    <g transform="translate(0.000000,307.000000) scale(0.100000,-0.100000)"
                    id="sublogo" stroke="none">
                    <path d="M1277 3020 c-796 -145 -1320 -872 -1212 -1683 44 -334 183 -616 420
                    -852 229 -230 515 -373 838 -421 150 -22 419 -15 559 15 279 60 509 184 712
                    383 l109 107 -119 113 c-65 62 -153 146 -195 186 l-76 73 -47 -55 c-196 -229
                    -505 -349 -813 -316 -452 48 -766 344 -839 790 -21 127 -14 341 16 460 27 109
                    115 287 183 370 132 162 325 274 552 321 33 7 119 13 190 12 153 0 267 -23
                    382 -79 83 -39 213 -134 266 -194 21 -22 40 -40 43 -40 11 0 374 355 374 367
                    0 18 -158 159 -250 222 -148 102 -310 171 -495 213 -137 30 -451 35 -598 8z"/>
                    <path d="M11435 3033 c-583 -75 -1056 -467 -1228 -1018 -143 -456 -71 -949
                    195 -1337 228 -333 586 -553 1000 -614 150 -22 421 -15 555 15 600 132 1037
                    583 1149 1186 14 74 19 147 19 280 0 206 -16 314 -72 485 -171 528 -628 913
                    -1177 995 -95 14 -359 19 -441 8z m315 -514 c122 -15 193 -35 299 -85 167 -78
                    281 -177 379 -327 108 -166 155 -334 155 -562 0 -235 -48 -401 -164 -575 -60
                    -89 -152 -183 -234 -240 -62 -43 -216 -114 -290 -133 -161 -43 -370 -42 -533
                    3 -258 72 -473 256 -587 504 -123 265 -123 618 0 883 137 297 410 495 734 533
                    98 11 148 11 241 -1z"/>
                    <path d="M11250 2250 c-19 -19 -20 -32 -20 -444 0 -373 2 -426 16 -440 11 -12
                    36 -16 90 -16 l74 0 0 -320 c0 -260 2 -320 13 -320 15 0 587 852 587 874 0 23
                    -24 26 -181 26 -82 0 -149 2 -149 5 0 3 68 141 151 306 87 174 149 310 147
                    323 -3 21 -4 21 -355 24 -342 2 -353 2 -373 -18z"/>
                    <path d="M3195 2968 c-3 -7 -4 -652 -3 -1433 l3 -1420 273 -3 272 -2 0 605 0
                    605 600 0 600 0 0 -605 0 -605 270 0 270 0 0 1435 0 1435 -270 0 -270 0 0
                    -570 0 -570 -600 0 -600 0 0 570 0 570 -270 0 c-207 0 -272 -3 -275 -12z"/>
                    <path d="M6135 2968 c-3 -7 -4 -652 -3 -1433 l3 -1420 273 -3 272 -2 0 1435 0
                    1435 -270 0 c-207 0 -272 -3 -275 -12z"/>
                    <path d="M7330 1545 l0 -1435 533 0 c530 0 650 6 802 36 510 102 888 435 1034
                    911 54 177 65 258 66 483 0 232 -14 332 -71 510 -66 205 -166 371 -314 521
                    -226 227 -516 358 -882 398 -56 7 -322 11 -633 11 l-535 0 0 -1435z m1264 882
                    c177 -47 298 -117 407 -235 81 -88 151 -219 186 -349 25 -91 27 -113 27 -298
                    0 -184 -2 -208 -26 -296 -83 -308 -281 -502 -598 -587 -90 -24 -112 -25 -407
                    -30 l-313 -4 0 917 0 917 313 -4 c299 -5 316 -6 411 -31z"/>
                    <path d="M13640 1545 l0 -1435 270 0 270 0 0 540 0 541 126 -3 127 -3 370
                    -538 370 -537 310 2 c214 2 311 6 314 14 2 6 -170 259 -382 563 -212 304 -385
                    559 -385 566 0 8 38 32 84 53 113 53 197 112 282 196 168 169 243 345 244 572
                    1 404 -226 722 -604 849 -149 50 -224 55 -833 55 l-563 0 0 -1435z m1242 887
                    c78 -38 138 -100 177 -182 23 -49 26 -67 26 -170 0 -106 -2 -120 -28 -172 -37
                    -76 -102 -140 -185 -180 l-67 -33 -312 -3 -313 -3 0 391 0 391 318 -3 317 -3
                    67 -33z"/>
                    <path d="M16175 2968 c-3 -7 -4 -652 -3 -1433 l3 -1420 273 -3 272 -2 0 1435
                    0 1435 -270 0 c-207 0 -272 -3 -275 -12z"/>
                    </g>
                    </svg>
                  </a>

                  <div class="line"></div>
                  <ul class="collapsible collapsible-accordion">
                    <template v-for="brand in brands">
                    <li>
                    <a class="collapsible-header product-sans black-text">{{ brand }}<i class="material-icons right">arrow_drop_down</i></a>
                      <div class="collapsible-body">
                        <ul>
                          <template v-for="dev in devices" v-if="brand == dev.brand">
                          <li class=""><a v-on:click="LoadBuilds(dev.codename)" class="pointer product-sans black-text"><i class="material-icons">phone_android</i>
                              {{dev.device}} ({{dev.codename}})</a></li>
                          </template>
                        </ul>
                      </div>
                    </li>
                    </template>
                  </ul>
                  <div class="line"></div>
              </div>
          </ul>
          <!-- END NAVBAR -->

          <!-- SETTINGS BUTTON -->
          <a class="accent"><i id="settings" class="settings material-icons pointer">color_lens</i></a>
          <div class="menu" style="display: none">
          <h6 class="product-sans accent">COLOR ENGINE</h6>
          <div class="line" style="margin-bottom: 12px;"></div>
          <div >
            <span class="product-sans accent">BACKGROUND</span>
            <ul>
            <li data-hex="#000" style="background-color: black" onclick="setBg(this)"class='ball'></li>
            <li data-hex="#212121" style="background-color: #212121" onclick="setBg(this)"class='ball'></li>
            <li data-hex="#F5F5F5" style="background-color: #F5F5F5" onclick="setBg(this)"class='ball'></li>
            </ul>
            <div style="clear: both"></div>
          </div>
          <div>
          <span class="product-sans accent">COLOR</span>
          <ul>
            <li data-hex="#1565C0" style="background-color: #1565C0" onclick="setColor(this)"class='ball'></li>
            <li data-hex="#F34235" style="background-color: #F34235" onclick="setColor(this)" class='ball'></li>
            <li data-hex="#E81E62" style="background-color: #E81E62" onclick="setColor(this)" class='ball'></li>
            <li data-hex="#9B26AF" style="background-color: #9B26AF" onclick="setColor(this)" class='ball'></li>
            <li data-hex="#3E50B4" style="background-color: #3E50B4" onclick="setColor(this)"class='ball'></li>
            <li data-hex="#02A8F3" style="background-color: #02A8F3" onclick="setColor(this)"class='ball'></li>
            <li data-hex="#009587" style="background-color: #009587" onclick="setColor(this)"class='ball'></li>

            <li data-hex="#4BAE4F" style="background-color: #4BAE4F" onclick="setColor(this)"class='ball'></li>
            <li data-hex="#CCDB39" style="background-color: #CCDB39" onclick="setColor(this)"class='ball'></li>
            <li data-hex="#FEC007" style="background-color: #FEC007" onclick="setColor(this)"class='ball'></li>
            <li data-hex="#FE9700" style="background-color: #FE9700" onclick="setColor(this)"class='ball'></li>
            <li data-hex="#FE5621" style="background-color: #FE5621" onclick="setColor(this)"class='ball'></li>

            <li data-hex="#76FF03" style="background-color: #76FF03" onclick="setColor(this)"class='ball'></li>
            <li data-hex="#6200EA" style="background-color: #6200EA" onclick="setColor(this)"class='ball'></li>
            <li data-hex="#0091EA" style="background-color: #0091EA" onclick="setColor(this)"class='ball'></li>
            <li data-hex="#D50000" style="background-color: #D50000" onclick="setColor(this)"class='ball'></li>
            <li data-hex="#212121" style="background-color: #212121" onclick="setColor(this)"class='ball'></li>
            <li data-hex="#EF4581" style="background-color: #EF4581" onclick="setColor(this)"class='ball'></li>

          </ul>
          </div>            
         </div>
         <!-- END SETTINGS BUTTON -->


    <!-- WELCOME -->
    <div v-if="!codename" class='home center'>
      <h3 class="accent product-sans welcome">WELCOME TO CHIDORI</h3>
          <svg version="1.0" xmlns="http://www.w3.org/2000/svg" height="250.000000pt" viewBox="0 0 366.000000 734.000000" preserveAspectRatio="xMidYMid meet">
          <g transform="translate(0.000000,734.000000) scale(0.100000,-0.100000)"
          id="homelogo" stroke="none">
          <path d="M100 7308 c-33 -17 -51 -35 -67 -68 l-23 -44 0 -2011 0 -2011 22 -44
          c43 -85 42 -85 450 -88 l358 -3 2 -1499 c2 -1113 6 -1502 14 -1510 7 -7 21 -9
          31 -6 19 6 2744 4080 2763 4132 13 34 -6 71 -43 84 -20 6 -286 10 -793 10
          -420 0 -764 2 -764 5 0 3 333 671 740 1485 407 814 740 1491 740 1505 0 13
          -11 37 -24 52 l-24 28 -1669 3 -1668 2 -45 -22z"/>
          </g>
      </svg>
      <div id="home-desc">
        <div class="card product-sans accent">
          ChidoriOS is a CAF based rom, meant to be as lightweight as possible. Our mission is to provide a stock-like experience even on low-end devices, allowing them to enjoy the latest version of Android.
        </div>
      </div>
  </div>
  <!-- END WELCOME -->
          


<!-- DEVICE INFO CARD -->
<div class="product-sans" v-if="codename">
  <h5 class="center device-name">{{brand}} {{Device}} ({{codename}})</h3>
    <div class="row center">
      <div class="col s12 m12 center">
        <div class="card">
          <div class="card-content">
            <span class="card-title">{{Device}}</span>
            <p>Maintainer: {{maintainer}}</p>
            <p> Brand: {{brand}}</p>
            <p> Android Version: {{version}}</p>
          </div>
          <div class="card-action">
            <a href="#">XDA Profile</a>
            <a v-bind:href="'https://github.com/' + maintainer">Github</a>
          </div>
        </div>
      </div>
    </div>
<!-- END DEVICE INFO CARD -->

  <!-- TABLE OF BUILDS -->
  <div class="row center">
      <div class="col s12 m12 center">
        <div class="card ">
          <div class="card-content">
          <table>
            <thead>
              <tr>
                  <th>Build</th>
                  <th>Date</th>
                  <th>Size</th>
              </tr>
            </thead>
            <tbody>
              <template v-for="Build in DeviceBuilds">
                <tr>
                  <td><a href="">{{Build.name}}</a></td>
                  <td>{{Build.date}}</td>
                  <td>{{Build.size}}MB</td>
                </tr>
              </template>
            </tbody>
           </table> 
            </div>
          </div>
        </div>
    </div>
    <!-- END TABLE OF BUILDS -->

  </div>
</main>
</div>
<footer>
  
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="static/js/downloads.js"></script>

</footer>

</html>