<!DOCTYPE html>
<html>
<head>
    
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link rel="stylesheet" href="static/css/chidori.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <title>ChidoriOS</title>
</head>

<div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper blue darken-3">
            <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large left"><i class="material-icons left white-text">menu</i>Devices</a>
          </div>
        </nav>
      </div>

<div id="app">
<ul id="slide-out" class="sidenav grey darken-4">
    <div class="grey darken-3">
        <li class="center white-text">
            ChidoriOS
        </li>
        <ul class="collapsible collapsible-accordion">
          <template v-for="brand in brands">
          <li>
          <a class="collapsible-header white-text grey darken-4">{{ brand }}<i class="material-icons white-text right">arrow_drop_down</i></a>
            <div class="collapsible-body">
              <ul>
                <template v-for="dev in devices" v-if="brand == dev.brand">
                <li class="grey darken-3 "><a v-bind:href="'device.html?device=' + dev.codename" class="white-text">
                    {{dev.device}} ({{dev.codename}})</a></li>
                </template>
              </ul>
            </div>
          </li>
          </template>
        </ul>
    </div>
  <div style="padding-left: 80px;">
    


  </div>
</ul>


<!-- Dropdown Structure -->
<ul id='motorola-stuff' class='dropdown-content'>
    
  </ul>

<main>
<div class="">
<h5 class="white-text center">Cool rom info that is not done yet</h3>
    <br>
</div>
</main>

</div>
<footer>
  <div id="scroll">
  <a></a>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="static/js/chidori.js"></script>
</footer>

</html>