body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--background);
  }
  
  main {
    flex: 1 0 auto;
  }
  


i.icon-white {
  color: white;
}
  
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
  }
  
  header, main, footer {
    padding-left: 0px;
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
  }
  
/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--background); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--accent); 
}

.product-sans {
  font-family: "Product Sans";
}
.pointer {
  cursor: pointer;
}

.sidenav li>a>i, .sidenav li>a>i.material-icons {
    margin:0 0 0 0;

}

@media only screen and (min-width: 1000px) {
    #slide-out {
        transform: translateX(0%);
    }
    .center {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    body{
      padding-left: 300px;
    }
    .nav-wrapper {
      display: none;
    }
    nav {
      background-color: var(--accent);
    }
    .navbar-fixed {
      display: none;
    }

}

.nav-wrapper{
  background-color: var(--accent);
}

.card-action a{
  color: var(--accent) !important;
}
a {
  color: var(--text);
}
a:hover {
  color: var(--accent);
}
.card {
  margin: 0px;
}
.accent {
  color: var(--accent);
}

.welcome {
  padding-bottom: 20px;
}

.line {
  border-top: 1px solid #ddd;

}
.welcome {
  font-weight: bold;
}

:root {
  --background: #F5F5F5;
  --card: #2d2d2d;
  --accent: #3E50B4;
  --text: black ;
}
#homelogo {
  fill: var(--accent);
}
.black-text a:hover {
  color: var(--accent) !important;
  background-color: white !important;
}
#sublogo {
  fill: var(--accent);
}
#sublogo-svg {
  margin: 12.5%;
}

#settings {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 3px;
}

.menu {
  height: 280px;
  width: 220px;
  background-color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 15px;
  margin-bottom: 35px;
  padding: 4px;
  text-align: center;
}

ul li{
  float: left;
  margin: 2px;
}
.ball {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}