:root {
  --background: #212121;
  --card: #1C1C1C;
  --accent: #A97CF0;
  --text: white ;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--background);
    margin-bottom: 20px;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
  }

  .limiter {
    max-width: 800px;
  }
  
  header, main, footer {
    padding-left: 0px;
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
  }
  
/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--background); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--accent); 
}

.product-sans {
  font-family: "Product Sans";
}
.pointer {
  cursor: pointer;
}

.sidenav li>a>i, .sidenav li>a>i.material-icons {
    margin:0 0 0 0;

}

#app {
  padding-bottom: 10px !important;
}

.card-action a {
  color: var(--accent) !important;
}
.card {
  margin: 0px;
  background-color: var(--background) !important;
}
.accent {
  color: var(--accent);
}

.welcome {
  padding-bottom: 20px;
}

.line {
  border-top: 1px solid var(--accent);

}

#slide-out, a {
  background-color: var(--card) !important;
  color: var(--text) !important;
}

.black-text {
  color: var(--text) !important;
}

.cardColor {
  background-color: var(--card) !important;
}

a{
  cursor: pointer;
}
pre{
  word-break:break-all;
  overflow:hidden;
  white-space:pre-line;
  font-size: 13px;
}
.sidenav-trigger,.sidenav-trigger:hover  {
  background-color: var(--accent) !important;
}

a:hover{
  color: var(--accent) !important;
}

table a {
  color: var(--accent) !important;
}
#homelogo {
  fill: var(--accent);
}
.error {
  fill: var(--accent);
}

#sublogo {
  fill: var(--accent);
}
#sublogo-svg {
  margin: 12.5%;
}
#settings {
  position: fixed;
  right: 0;
  top:10px;
  padding: 3px;
}
.nav-wrapper{
  background-color: var(--accent);
}

.menu {
  height: 280px;
  width: 220px;
  background-color: var(--background);
  position: fixed;
  right: 0px;
  top: 45px;
  margin: 15px;
  margin-bottom: 35px;
  padding: 4px;
  text-align: center;
  z-index: 10;
  border-radius: 2px;
}

.menu ul li{
  float: left;
  margin: 2.5px;
}

.ball {
  width: 30px;
  height: 30px;
  border-radius: 2px;
}

i {
  color: var(--accent) !important;
  margin-right: 7px !important;
}

.bar-logo {
  margin-top: 20px;
}

.bar-logo:hover {
  background-color: transparent !important;
}
.device-name {
  color: var(--accent);
  text-transform: uppercase;
  font-weight: bold;
}
#home-desc{
  margin-top: 30px;
}
#home-desc .card{
  width: 100%;
  min-height: 80px;
  padding:15px;
  font-size: 20px;
}

.btn-flat {
  color: var(--accent) !important;
  background-color: transparent !important;
}
#modal-title {
  padding-bottom: 10px;
  color: var(--accent);
}
.modal, .modal-footer{
  background-color: var(--background) !important;
}
.modal-content {
  padding-bottom: 0px !important;
}

@media only screen and (min-width: 1000px) {
    #slide-out {
        transform: translateX(0%);
    }
    .center {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    body{
      padding-left: 300px;
    }
    .nav-wrapper {
      display: none;
    }
    nav {
      background-color: var(--accent);
    }
    .navbar-fixed {
      display: none;
    }
    .bar-settings {
      display: block;
    }
    .menu {
      top: 30px;
    }
}

.search-link {
  font-family: "Product Sans";
  background-color: transparent !important;
  color: var(--accent) !important;
  padding: 10px !important;
  margin-left: 5px !important;
  display: block !important;
  text-align: left !important;
  padding-left: 5px !important;

}
input {
  padding: 0px !important;
  margin: 0px !important;
  padding-left: 5px !important;
  border-bottom: none !important;
  color: var(--accent) !important;

}
input::placeholder {
  color: var(--accent) !important;
}
input:focus {
  border-bottom: none !important;
  box-shadow: none !important;
}
.is-s {
  font-size: 24px !important;
  margin-left: 10px !important;
  margin-right: 0px !important;
  margin-bottom: 4px !important;
  vertical-align: middle;
}
.square {
  border: 1px solid var(--accent);
  border-radius: 3px;
}
.desc {
  font-size: 19px;
  padding: 10px;
  margin: 5px;
}
.builds {
  padding: 15px;
}
.fail {
  padding: 20px;
}

tr th {
  font-weight: 100
}

.searchbar {
  margin-left: 10px !important;
  margin-right: 10px !important;
  margin-bottom: 15px;
  padding: 1px;
}

.builds h6 {
  line-height: 10px;
}

.deviceprop {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 7px;
}

.deviceprop h6 {
  font-weight: 100;
}

.modal-content, .modal {
  overflow: hidden;
}

.changelog {
  height: 300px;
  overflow: auto;
  padding: 7px;
  background-color: var(--card);

}

.collapsible-body {
  background-color: var(--card) !important;
  transition: none;
}